body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 80ch;
    margin-inline: auto;
    padding: 10px;
  }
nav {
  display: flex;
  border-bottom: 1px;
}

nav a {
  flex: 1;
  text-align: center;
}

nav a.current {
  font-weight: bold;
  border-bottom: 2px solid black;
}