:root {
  --color-accent: oklch(70% 40% 310);
}

html {
  accent-color: var(--color-accent);
}

label,
input,
textarea,
button {
  display: block;
}

input,
textarea,
button {
  font: inherit;
  padding: 0.5em;
  width: 100%;
  box-sizing: border-box;
}

label {
  margin-block: 0.5em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 80ch;
    margin-inline: auto;
    padding: 10px;
  }
nav {
  display: flex;
  margin-bottom: 1rem;
  border-bottom: 1px solid oklch(80% 3% 200);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  font-weight: bold;
  border-bottom: 0.4em solif oklch(80% 3% 200);
  padding-bottom: 0.1em;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0.1em;
}